body{
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.GlavniKontejner
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.PomocniKontejner
{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.NajvisiKontejner
{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.tabela
{
    margin-bottom: 30px;
}

table,tr,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-width: 2px;
    border-color: #73AD21;
    background-color: #362e2e;
}
table
{
    border-collapse: collapse;
}
.Forma1, .Forma2, .Forma3, .Igra, .Korpa, .Sysreq, .Slika
{
    display: flex;
    color:#e7dede;
    flex-direction: column;
    
}
.red
{
    margin-bottom: 10px;
}
.Dugme
{
    margin-right: 10px;
    margin-left: 10px;
    background: #362e2e;
    color: rgb(255, 244, 244);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border-color: #73AD21;
    border-width: 2px;
}
.Polje
{
    margin-left: 10px;
    border-color: #73AD21;
    border-width: 2px;
}
.PoljeReview
{
    width: 300px; height: 200px; border: 1px solid #999999;
     vertical-align: text-top;
     text-align:left;
     vertical-align: top;
}
label {
	cursor: pointer;
	color: #ffffff;
	padding: 1px;
}
input, textarea {
    background: #362e2e;
    color: rgb(255, 244, 244);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-align: top;
    border-color: #73AD21;
    border-width: 2px;
    vertical-align: top;
    
  }
  select {
    margin: 40px;
    background: #362e2e;
    color: rgb(255, 244, 244);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border-color: #73AD21;
    border-width: 2px;
  }
  .labelanaziv
  {
    cursor: pointer;
	color: #ffffff;
	padding: 1px;
  }
  textarea{
    margin: 1px;
    padding: 1px;
    width: 500px;
    height: 300px;
    resize: none;
  }